/* Colors */

// scss
$white: #f2f2f2;
$black: #000;
$dark-red: #4c0d00;
$middle-red: #760700;
$primary: #212529; //#1B1919;

// css if some of you don't wan't to use scss :))
:root {
    /* Our Colors // GoInfo */
    --white: #f2f2f2;
    --black: #000;
    --primary: #212529;
    --dark-red: #4c0d00;
    --middle-red: #760700;
    //--d-bootstrap: #212529; == the color of the dark theme of bootstrap, I think I won't use this at all
}
/* End Colors */

// Icons Menu Start
.menu__icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.member-management {
    width: 100%;
    // background-color: red;
    display: block;
    // margin-left: 42%;
    // text-align: center;
}
// End Icons Menu

// Flex
.flex-horizontal {
    display: flex;
    flex-direction: row;
}

// Center
.center {
    text-align: center;
}

// Searchbar
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: $primary;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: $white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: $dark-red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: $white;
    color: $middle-red;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
// End Searchbar
