.block_button_payment{
      display: flex;
      flex-direction: row;
}

.block_button_payment > * {
      margin: 10px;
}

@media(max-width: 600px) {
      .block_button_payment{
            flex-direction: column;
      }

      .block_button_payment > * {
            font-size: 1.5rem;
            width: 85vw;
      }
}