.flex_vertical {
      display: flex;
      flex-direction: column;
}

.flex_horizontal {
      display: flex;
      flex-direction: row;
}


.centered_flex_vertical {
      align-items: center;
}

.centered_flex_horizontal {
      justify-content: center;
}

.btn {
      width: 50%;
      font-weight: 700;
      padding: 3px;
}

/*Specifique*/

.block_button{
      display: flex;
      justify-content: space-around;
}

.block_all_product, .block_button{
      flex-wrap: wrap;
      max-width: 100%;
      margin: 10px auto;
}

.block_product{
      padding: 5px 15px;
      margin: 10px 15px;
      border: solid 3px black;
      border-radius: 10px;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.1)
}

.input_quantity{
      width: 100%;
}

.img{
      max-width: 100px;
      height: auto;

}

select{
      margin: 10px;
}

.flex_vertical.block_bottom_create{
      flex-direction: row;
      justify-content: center;
}

@media(max-width: 600px) {
      .img_product{
            max-width: 40vw;
            align-self: center;
      }
      
      .block_product{
            width: fit-content;
            width: 85vw;
      }

      .btn {
            width: 50%;
            font-weight: 700;
      }
}