h4{
      margin: 0.5rem;
      text-align: center;
}



.flex_vertical {
      display: flex;
      flex-direction: column;
}

.flex_horizontal {
      display: flex;
      flex-direction: row;
}


.centered_flex_vertical {
      align-items: center;
}

.centered_flex_horizontal {
      justify-content: center;
}

.block_product{
      padding: 5px 15px;
      margin: 10px 15px;
      border: solid 3px black;
      border-radius: 10px;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.1)
}

.block_all_purchase{
      flex-wrap: wrap;
      max-width: 100%;
      margin: 10px 0;
}

.block_button{
      display: flex;
      justify-content: space-around;
}

.img{
      max-width: 100px;
      height: auto;

}

.btn {
      width: 50%;
      font-weight: 700;
      height: fit-content;
      padding: 3px;
}

@media(max-width: 600px) {    
      .block_product{
            width: fit-content;
            width: 85vw;
      }
}