.content{
      width:80%;
      margin: 0 auto;
}


@media(max-width: 600px) {
      .alert{
        font-size: 0.6rem;    
      }
      .btn {
            font-size: inherit;
      }
      .content{
            min-width: 0;
      }
      .phone_hidden{
            display: none;
      }
}