/* Color Theme Swatches in Hex */
$GoInfo-1-hex: #000000
$GoInfo-2-hex: #1B1919
$GoInfo-3-hex: #4C0D00
$GoInfo-4-hex: #760700
$GoInfo-5-hex: #FFFFFF

/* Color Theme Swatches in RGBA */
$GoInfo-1-rgba: rgba(0,0,0, 1)
$GoInfo-2-rgba: rgba(27,25,25, 1)
$GoInfo-3-rgba: rgba(76,13,0, 1)
$GoInfo-4-rgba: rgba(118,7,0, 1)
$GoInfo-5-rgba: rgba(255,255,255, 1)

/* Color Theme Swatches in HSLA */
$GoInfo-1-hsla: hsla(0, 0, 0, 1)
$GoInfo-2-hsla: hsla(0, 3, 10, 1)
$GoInfo-3-hsla: hsla(10, 100, 14, 1)
$GoInfo-4-hsla: hsla(3, 100, 23, 1)
$GoInfo-5-hsla: hsla(0, 0, 100, 1)
