.top-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;

}

.content-wrapper {
    margin-right: 5%;
    margin-left: 5%;
}

.content-wrapper h1 {
    margin-left: 0;
    margin-right: auto;
}
.droite {
    margin-left: auto;
    margin-right: 0;
}