.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:409px;
	height:1149px;
	position:absolute;
}
.e1_13 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:409px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_10 { 
	width:40px;
	height:40px;
	position:absolute;
	left:24px;
	top:15px;
	background-image:url(images/icon_menu.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:171px;
	height:39px;
	position:absolute;
	left:114px;
	top:15.5px;
}
.e1_88 { 
	width:50px;
	height:50px;
	position:absolute;
	left:335px;
	top:10px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_31 { 
	width:409px;
	height:63px;
	position:absolute;
	left:0px;
	top:90px;
}
.e8_30 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:43px;
	position:absolute;
	left:109.5px;
	top:10px;
	font-family:Bebas;
	text-align:center;
	font-size:36px;
	letter-spacing:5;
}
.e1_172 { 
	width:409px;
	height:976px;
	position:absolute;
	left:0px;
	top:173px;
}
.e1_36 { 
	width:359px;
	height:160px;
	position:absolute;
	left:25px;
	top:25px;
}
.e1_128 { 
	width:359px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_110 { 
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_111 { 
	width:184px;
	height:156px;
	position:absolute;
	left:175px;
	top:2px;
}
.e1_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:38px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_33 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:80px;
	position:absolute;
	left:0px;
	top:76px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_86 { 
	width:359px;
	height:160px;
	position:absolute;
	left:25px;
	top:215px;
}
.ei8_86_1_128 { 
	width:359px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_86_1_110 { 
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_86_1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei8_86_1_111 { 
	width:184px;
	height:156px;
	position:absolute;
	left:175px;
	top:2px;
}
.ei8_86_1_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:38px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_86_1_33 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_86_1_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:80px;
	position:absolute;
	left:0px;
	top:76px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_94 { 
	width:359px;
	height:160px;
	position:absolute;
	left:25px;
	top:405px;
}
.ei8_94_1_128 { 
	width:359px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_94_1_110 { 
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_94_1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei8_94_1_111 { 
	width:184px;
	height:156px;
	position:absolute;
	left:175px;
	top:2px;
}
.ei8_94_1_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:38px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_94_1_33 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_94_1_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:80px;
	position:absolute;
	left:0px;
	top:76px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_102 { 
	width:359px;
	height:160px;
	position:absolute;
	left:25px;
	top:595px;
}
.ei8_102_1_128 { 
	width:359px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_102_1_110 { 
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_102_1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei8_102_1_111 { 
	width:184px;
	height:156px;
	position:absolute;
	left:175px;
	top:2px;
}
.ei8_102_1_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:38px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_102_1_33 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_102_1_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:80px;
	position:absolute;
	left:0px;
	top:76px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e8_110 { 
	width:359px;
	height:160px;
	position:absolute;
	left:25px;
	top:785px;
}
.ei8_110_1_128 { 
	width:359px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_110_1_110 { 
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei8_110_1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei8_110_1_111 { 
	width:184px;
	height:156px;
	position:absolute;
	left:175px;
	top:2px;
}
.ei8_110_1_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:38px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_110_1_33 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei8_110_1_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:184px;
	height:80px;
	position:absolute;
	left:0px;
	top:76px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
