:root{
      --primary: rgb(118, 7, 0);
      --primary-dark: rgb(76, 13, 0);
}

.flex_vertical{
      display: flex;
      flex-direction:column;
}

form > *{
      margin-top: 10px;
}

.flex_vertical h1{
      font-size: 3rem;
      margin: 10px 0;
}

.centered_flex{
      align-items: center;
}

#img_profile{
      width: 25%;
      max-width: 150px;
}

.input_text *{
      width: 100vw;
      max-width: 750px;
      font-size: 2rem;
      text-align: justify;
}

.input_text label ul{
      height: fit-content;
}

.input_text input{
      height: 1.5rem;
      font-size: 1.5rem;
      margin-top: 5px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid rgb(27, 25, 25);
      background-color: rgba(59, 59, 59, 0.1);
      transition: all 0.2s;
}

.input_text input:focus{
      outline: 0;
      border-color: var(--primary);
      box-shadow: 0px 0px 10px var(--primary-dark);
}

.list_require{
      margin: 0;
}

.btn{
      width: fit-content;
      padding: 10px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid var(--primary);
      transition: box-shadow 0.2s;
}

.btn_valider:hover{
      box-shadow: 0px 0px 10px var(--primary-dark);
}

.text_bottom{
      margin-top: 15px;
      font-size: 2rem;
      text-align: center;
}



@media(max-width: 800px){
      .input_text{
            min-height: fit-content;
            justify-items:end ;
      }
      
      .input_text *{
            width: 70vw;
            max-width: 750px;
            height: 10vw;
      }

      .input_text label, .input_text label ul li{
            font-size: 1.5rem;
            height: fit-content;
      }

      .input_text input {
            font-size: 1.2rem;
      }

      .btn, .text_bottom_signin{
            font-size: 1.5rem;
      }
}



