/* Colors */
:root {
    /* Our Colors // GoInfo */
    --white: #fff;
    --black: #000;
    --primary: #212529;
    --dark-red: #4c0d00;
    --middle-red: #760700;
}

/* End Colors */
footer{
    position: absolute;
}

/* Hiding div */
.hiding {
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 4;
}

/* Client Info */
#img_profile {
    width: 25%;
    max-width: 110px;
}

.client-info {
    z-index: 2;
}

/* End Client Info */

.btn{
    width: fit-content;
}

/* Edit password */
.edit-password {
    text-align: center;
    z-index: 1;
    width: 70vw;
}

.edit-password input {
    margin-top: 10px;
}

.edit-password button {
    margin-top: 10px;
}

.edit-password li {
    text-align: left;
}

/* End Edit password */

.table_information {
    border-collapse: separate;
    border-spacing: 20px;
    margin: 0 auto;
    border: solid 3px var(--primary);
    border-radius: 10px;
    margin-bottom: 15px;
    width: 500px;
    text-align: left;
    /* border-color: var(--primary); */
}

.text_block {
    text-align: center;
}

.table_information tr td, .text_block {
    font-size: 18px;
    /* width: 100%; */
    padding: 0;
}

/* Mobile Version Table Information Responsive */
@media(max-width: 650px) {
    .table_information {
        font-size: 4vw;
        width: 80%;
        padding: 0;
    }
}

.flex_horizontal {
    display: flex;
    flex-direction: row;
}

.flex_horizontal>* {
    margin: 0 10px;
}

.principal_block {
    z-index: 2;
}

.secondary_block {
    /* z-index: -1; */
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.open_menu {
    opacity: 1;
    position: relative;
    height: fit-content;
    animation: slide-in-top 0.5s cubic-bezier(0, 0, 0, 1);
}

/*        KEYFRAME          */
/*       (Animation)        */
@keyframes slide-in-top {
    0% {
        height: 0;
        transform: translateY(-1000px);
    }

    1% {
        height: fit-content;
    }

    100% {
        transform: translateY(0px);

    }
}