/* Colors */
:root {
    /* Our Colors // GoInfo */
    --white: #f2f2f2;
    --black: #000;
    --primary: #212529; 
    --dark-red: #4c0d00;
    --middle-red: #760700;
}
/* End Colors */

/* "Header" */
.top {
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    margin-bottom: 3vh;
}

.top-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: var(--white);
}

.back-arrow {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 40px;
    height: auto;
}
/* End "Header" */

/* Edit password */

.edit-password {
    text-align: center;
}

.edit-password input {
    margin-top: 10px;
}

.edit-password button {
    margin-top: 10px;
}

.edit-password li {
    text-align:left;
}
/* End Edit password */

.table_information {
    border-collapse: separate;
    border-spacing: 20px;
    margin: 0 auto;
    border: solid 3px var(--primary);
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90%;
    /* border-color: var(--primary); */
}

.text_block {
    text-align: center;
}

.table_information tr td, .text_block {
    font-size: 18px;
    width: 100%;
    padding: 0;
}

/* Mobile Version Table Information Responsive */
@media(max-width: 500px) {
    .table_information tr td, .text_block {
        font-size: 4vw;
        width: 100%;
        padding: 0;
    }
}

.flex_horizontal {
    display: flex;
    flex-direction: row;
}

.flex_horizontal>* {
    margin: 0 10px;
}

.principal_block {
    z-index: 2;
}

.secondary_block {
    /* z-index: -1; */
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.open_menu {
    opacity: 1;
    position: relative;
    height: fit-content;
    animation: slide-in-top 0.5s cubic-bezier(0, 0, 0, 1);
}

/*        KEYFRAME          */
/*       (Animation)        */
@keyframes slide-in-top {
    0% {
        height: 0;
        transform: translateY(-1000px);
    }

    1% {
        height: fit-content;
    }

    100% {
        transform: translateY(0px);

    }
}