:root{
      --primary: rgb(118, 7, 0);
      --primary-dark: rgb(76, 13, 0);
}

.vertical_centered_menu{
      display: flex;
      flex-direction:column;
      align-items: center;
}

.vertical_centered_menu h3{
      font-size: 5rem;
      margin: 10px 0;
}

#form_signin{
      display: flex;
      flex-direction: column;
      align-items: center;
}

#form_signin > *{
      margin: 10px 0; 
}

#form_signin div{
      display: flex;
      flex-direction: column;
}



.input_text *{
      width: 100vw;
      max-width: 750px;
      height: 3vw;
      /* max-height: 30px; */
      font-size: 2rem;
}

#img_profile{
      width: 25%;
      max-width: 150px;
}

.input_text input{
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid rgb(27, 25, 25);
      transition: all 0.2s;
      background-color: rgba(59, 59, 59, 0.1);
}

#form_signin .input_text input:focus{
      outline: 0;
      border-color: var(--primary);
      box-shadow: 0px 0px 10px var(--primary-dark);
}

.btn_valider{
      padding: 10px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid var(--primary);
      transition: box-shadow 0.2s;
}

.btn_valider:hover{
      box-shadow: 0px 0px 10px var(--primary-dark);
}

.text_bottom_signin{
      font-size: 300%;
      margin: 0 auto;
      text-align: center;
}

@media(max-width: 800px){
      #form_signin .input_text *{
            width: 70vw;
            max-width: 750px;
            height: 10vw;
      } 

      #form_signin .input_text label{
            font-size: 1.5rem;
            height: fit-content;
      }

      .input_text{
            min-height: fit-content;
            justify-items:end ;
      }

      .btn_valider{
            font-size: 1.5rem;
      }
}