@media screen and(max-width: 600px){
      
      #form_signin .input_text input{
            height: 60px;
      }      
}

.vertical_centered_menu{
      display: flex;
      flex-direction:column;
      align-items: center;
}

.vertical_centered_menu h3{
      font-size: 5rem;
      margin: 10px 0;
}

#form_signin{
      display: flex;
      flex-direction: column;
      align-items: center;
}

#form_signin > *{
      margin: 10px 0; 
}

#form_signin div{
      display: flex;
      flex-direction: column;
}

#form_signin .input_text *{
      width: 100vw;
      max-width: 750px;
      height: 40px;
      font-size: 2rem;
}

#img_profile{
      width: 25%;
      max-width: 200px;
}

#form_signin .input_text input{
      margin: 15px 0;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid rgb(27, 25, 25);
      transition: all 0.2s;
}

#form_signin .input_text input:focus{
      outline: 0;
      border-color: rgb(118, 7, 0);
      box-shadow: 0px 0px 10px rgb(76, 13, 0);
}

.btn_valider{
      padding: 10px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 10px;
}

.text_bottom_signin{
      font-size: 300%;
}