body {
    /* font-family: "Lato", sans-serif; */
    /* padding-top: 4.5rem; */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidebar a {
    padding: 0 0 0 2.5%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: auto;
    /* font-size: 36px; */
    margin-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and(max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Footer */

.social,
.copyright {
    margin: 1rem;
}

.social li {
    display: inline-block;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--black);
}

footer.light {
    background: var(--grey-light);
}

.icon {
    color: var(--grey-light);
    font-size: 1.5rem;
}

.icon:hover {
    color: var(--middle-red);
}

.icon.light:hover {
    color: var(--middle-red);
}

.icon.light {
    color: var(--dark-gray);
}