<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <div class="box">
    <div class="box__ghost">
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>

      <div class="box__ghost-container">
        <div class="box__ghost-eyes">
          <div class="box__eye-left"></div>
          <div class="box__eye-right"></div>
        </div>
        <div class="box__ghost-bottom">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
      <div class="box__description-container">
        <div class="box__description-title">Ooooops!</div>
        <div class="box__description-text">Il semble que nous n'ayons pas pu trouver la page que vous cherchiez.</div>
      </div>

      <a href="javascript:history.go(-1)" target="_blank" class="box__button">Retour</a>

    </div>

  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>