<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>404 Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,900'>
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

  <div class="page">
    <div class="content">
      <div class="text">
        <h1>404</h1>
        <h2>Page non trouvée</h2>
        <p>Félicitations ! Essayez encore...</p>
      </div>
      <a href="#">Retour à l'accueil</a>
    </div>
    <img
      src="https://images.pexels.com/photos/5984863/pexels-photo-5984863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      <!-- Chaussure chewing gum ? https://images.pexels.com/photos/2882/man-person-street-shoes.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>