.block-control {
    align-items: center;
    min-height: 70px;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 15px;
}

.block-control > .btn {
    margin-right: 5px;
}

.block-control > * {
    width: 47.5%;
    min-height: 40px;
}

.block-password > * {
    margin: 5px 0;
}

.btn {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.title-block {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    text-decoration: underline;
}

.sub-block * {
    width: 100%;
}

.request-choice > * {
}

@media only screen and (max-width: 800px) {
    .block-password {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .main-block {
        margin-left: 25px;
        margin-right: 25px;
    }

    form {
        width: 80vw;
    }
}