.top-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: #212529;
    margin: 0 10px;
    text-align: center;
}

.top-text-sub {
    text-align: center;
    font-size: 1.5em;
    margin: 0 10px;
}

.body-text {
    margin-top: 3vw;
    text-align: center;
}