.back-arrow {
      width: 40px;
      height: auto;
}

.form-input:focus {
      outline: none;
}

.top {
      margin-bottom: 3vh;
}

.top-text {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      color: var(--white);
      margin-top: 10px;
}

.text-bottom > * {
      margin: 0 10px;
}

#img_profile {
      width: 25%;
      max-width: 110px;
}

.list_require {
      margin: 0;
}

.list_require li {
      font-size: 0.8rem;
}

.btn {
      text-align: center;
      width: 100%;
      padding: 5px;
      cursor: pointer;
      border-radius: 10px;
      transition: box-shadow 0.2s;
}

.text-bottom {
      display: flex;
      font-size: 1.2rem;
      text-align: center;
      margin: 10px 0;
}

/***********        Pas utilisé sur Login          *****************/

@media(max-width: 800px) {
      .input_text {
            min-height: fit-content;
            justify-items: end;
      }

      .input_text * {
            width: 70vw;
            max-width: 750px;
            height: 10vw;
      }

      .input_text label {
            font-size: 1.5rem;
            height: fit-content;
      }

      .input_text input {
            font-size: 1.2rem;
      }

      .list_require li {
            font-size: 0.9rem;
            height: max-content;
      }

      .btn, .text_bottom {
            font-size: 1rem;
      }
}
/*Modif du style de SweetAlert*/
/*
.swal2-html-container ul {
      width: fit-content;
      text-align: left;
}*/