.back-arrow {
      width: 40px;
      height: auto;

}

.form-input:focus {
      outline: none;
}

.top {
      margin-bottom: 3vh;
}

.top-text {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      color: var(--white);
      margin-top: 10px;
}

.text-bottom > * {
      margin: 0 10px;
}

#img_profile {
      width: 25%;
      max-width: 110px;
}

.list-require {
      margin: 0;
      font-size: 18px;
}

.btn {
      width: 100%;
}

.text-bottom {
      display: flex;
      font-size: 1.2rem;
      text-align: center;
      margin: 10px 0;
}

.text-block {
      margin: 0 10px;
      text-align: center;
}

/***********        Pas utilisé sur Login          *****************/

@media(max-width: 800px) {
      .list-require li {
            height: max-content;
      }

      .btn, .text-bottom {
            font-size: 1rem;
      }
}
/*Modif du style de SweetAlert*/

.swal2-html-container ul {
      width: fit-content;
      text-align: left;
}