/* Permet de corriger le soulignement qui depasse du bouton déconnexion */
a {
    text-decoration: none;
}

.btn {
    width: fit-content;
}

.btn-block > * {
    margin: 5px 0
}

.client-info {
    z-index: 2;
}

.edit-password .form-group {
    margin-top: 10px;
}

.edit-password button {
    margin-top: 10px;
}

.edit-password li {
    text-align: left;
}

.hiding {
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.secondary_block.open_menu {
    opacity: 1;
    position: relative;
    height: fit-content;
    animation: slide-in-top 0.5s cubic-bezier(0, 0, 0, 1);
}

.principal_block {
    z-index: 2;
    margin-bottom: 10px;
}

.secondary_block {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0 auto 20px;
    text-align: center;
    z-index: 1;
    width: 70vw;
}

.table-information {
    border-collapse: separate;
    border-spacing: 20px;
    border: solid 3px var(--dark-grey);
    border-radius: 10px;
    margin: 0 auto 15px;
    width: 500px;
    text-align: left;
}


.table-information tr td, .text-block {
    font-size: 18px;
    padding: 0;
}

/* Mobile Version Table Information Responsive */
@media (max-width: 650px) {
    .table-information {
        font-size: 4vw;
        width: 80%;
        padding: 0;
    }
}

/*        KEYFRAME          */
@keyframes slide-in-top {
    0% {
        height: 0;
        opacity: 0;
        transform: translateY(-1000px);
    }

    1% {
        height: fit-content;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}