.card-text-description {
  overflow: clip;
}

.show-post-main {
  margin-top: 10px;
  border: var(--light-grey) solid 2px;
  border-radius: 10px;
}

.show-post-image-container img {
  max-width: 50vw;
  max-height: 50vh;
  height: auto;
}

.show-post-text {
  max-width: 60vw;
  padding: 0 10px;
  align-self: flex-start;
  white-space: pre-line;
}

@media screen and (max-width: 600px) {
  .list-card {
    align-items: center;
    flex-direction: column;
  }

  .show-post-text {
    max-width: 80vw;
    font-size: 1.25rem;
  }
}