/* Colors */

// scss
$white: #f2f2f2;
$black: #000;
$dark-red: #4c0d00;
$middle-red: #760700;
$primary: #212529;//#1B1919; 
// $dark-gray: #242424; <-- useless here

// css if some of you don't wan't to use scss :))
:root {
    /* Our Colors // GoInfo */
    --white: #f2f2f2;
    --black: #000;
    --primary: #212529; 
    --dark-red: #4c0d00;
    --middle-red: #760700;
    //--d-bootstrap: #212529; == the color of the dark theme of bootstrap, I think I won't use this at all
}
/* End Colors */


// Page Title
.page__title {
    // background-color: red;
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}
// End Page Title

// Article Title
.article__title {
    background-color: $primary;
    color: $white;
}
// End Article Title